<h2>Caregiver Details</h2>

<hr/>
<div *ngIf="caregiver">
  <div>
    <label><b>Name: </b></label> {{caregiver.name}}
  </div>
  <div>
    <label><b>Birth Date: </b></label> {{caregiver.birth_date}}
  </div>
  <div>
    <label><b>Gender: </b></label> {{caregiver.gender}}
  </div>
  <div>
    <label><b>Address: </b></label> {{caregiver.address}}
  </div>
</div>
<br>
<div class="panel-heading">
  <h4>Patients List</h4>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Birth Date</th>
    <th>Gender</th>
    <th>Address</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let patient of patients ">
    <td>{{patient.name}}</td>
    <td>{{patient.birth_date}}</td>
    <td>{{patient.gender}}</td>
    <td>{{patient.address}}</td>
    <td><button class="btn btn-danger" (click)="deletePatient(patient)"> Delete</button></td>
<!--    <td><button (click)="patientDetail(patient.id)" class="btn btn-info" style="margin-left: 10px">Details</button></td>-->
<!--    <td> <button class="btn btn-success" (click)="editPatient(patient)" style="margin-left: 20px;"> Edit</button></td>-->
  </tr>
  </tbody>
</table>
<td> <button class="btn btn-success"  (click)="addPatient(id)" style="margin-left: 20px;"> Add Patient To List</button></td>
<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Caregiver List</button><br>

