
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" routerLink="/patient" *ngIf="isDoctor">Patients</a>
    <a class="nav-item nav-link" routerLink="/caregiver" *ngIf="isDoctor">Caregivers</a>
    <a class="nav-item nav-link" routerLink="/medication" *ngIf="isDoctor">Medication</a>
<!--    <a class="nav-item nav-link" routerLink="/details/{{currentUser.id}}" *ngIf="isPatient">Details</a>-->
    <a class="nav-item nav-link" routerLink="/patientsList" *ngIf="isCaregiver">Patients List</a>
<!--    <a class="nav-item nav-link" routerLink="/details-caregiver/{{currentUser.id}}" *ngIf="isCaregiver">Details</a>-->
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>

<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>


