
<div class="col-md-6 user-container">
  <h2 class="text-center">Edit Medication</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" formControlName="name" placeholder="name" name="name" class="form-control" id="name" >
    </div>

    <div class="form-group">
      <label for="side_effects">Side effects:</label>
      <input type  ="text" formControlName="side_effects" placeholder="side_effects" name="side_effects" class="form-control" id="side_effects" >
    </div>

    <div class="form-group">
      <label for="dosage">Dosage:</label>
      <input formControlName="dosage" placeholder="Dosage" name="dosage" class="form-control" id="dosage">
    </div>

    <button class="btn btn-success">Update</button>
  </form>
</div>
