<h2>Patient Details</h2>

<hr/>
<div *ngIf="patient">
  <div>
    <label><b>Name: </b></label> {{patient.name}}
  </div>
  <div>
    <label><b>Birth Date: </b></label> {{patient.birth_date}}
  </div>
  <div>
    <label><b>Gender: </b></label> {{patient.gender}}
  </div>
  <div>
    <label><b>Address: </b></label> {{patient.address}}
  </div>
  <div>
    <label><b>Medical Record: </b></label> {{patient.medicalRecord}}
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Patient List</button><br>
