 <div class="panel panel-primary">
      <div class="panel-heading">
        <h2>Patients List</h2>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Birth Date</th>
      <th>Gender</th>
    <th></th>
    <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let patient of patients ">
      <td>{{patient.name}}</td>
      <td>{{patient.birthDate}}</td>
      <td>{{patient.gender}}</td>

      <td><button class="btn btn-danger" (click)="deletePatient(patient)"> Delete</button></td>
      <td><button (click)="patientDetail(patient.id)" class="btn btn-info" style="margin-left: 10px">Details</button></td>
       <td> <button class="btn btn-success" (click)="editPatient(patient)" style="margin-left: 20px;"> Edit</button></td>
    </tr>
    </tbody>
        </table>
        <br>
        <button class="btn btn-danger" routerLink="/add-patient" class="nav-link" style="margin-left: 20px;"> Add Patient</button>
      </div>
 </div>

