<h2>Medication Details</h2>

<hr/>
<div *ngIf="medication">
  <div>
    <label><b>Name: </b></label> {{medication.name}}
  </div>
  <div>
    <label><b>Side effects: </b></label> {{medication.side_effects}}
  </div>
  <div>
    <label><b>Dosage: </b></label> {{medication.dosage}}
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Medications List</button><br>
