<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Patients List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let patient of patients ">
        <td>{{patient.name}}</td>

        <td> <button class="btn btn-success" (click)="addPatient(patient)" style="margin-left: 20px;"> Add Patient to List</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
