<div class="col-md-6 user-container">
  <h2 class="text-center">Add User</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Medication Name:</label>
      <input type="text" formControlName="name" placeholder="name" name="name" class="form-control" id="name">
    </div>

    <div class="form-group">
      <label for="side_effects">Side Effects:</label>
      <input type="side_effects" formControlName="side_effects" placeholder="side_effects" name="side_effects" class="form-control" id="side_effects">
    </div>

    <div class="form-group">
      <label for="dosage">Dosage:</label>
      <input formControlName="dosage" placeholder="dosage" name="dosage" class="form-control" id="dosage">
    </div>

    <button class="btn btn-success">Add</button>
  </form>
</div>
