<div class="card mt-4">
  <h4 class="card-header">Home</h4>
  <div class="card-body">
    <p>You're logged in!</p>
    <p>Your role is: <strong>{{currentUser.role}}</strong>.</p>
<!--    <p>This page can be accessed by <u>all authenticated users</u>.</p>-->
    <p class="mb-1">Current user :</p>
    <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
    <ul *ngIf="userFromApi">
      <li>{{userFromApi.email}} </li>
    </ul>
  </div>
</div>
