
<div class="col-md-6 user-container">
  <h2 class="text-center">Edit Caregiver</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">User Name:</label>
      <input type="text" formControlName="name" placeholder="name" name="name" class="form-control" id="name" readonly="true">
    </div>

    <div class="form-group">
      <label for="birthDate">Birth Date:</label>
      <input type  ="text" formControlName="birthDate" placeholder="birthDate" name="birthDate" class="form-control" id="birthDate" >
    </div>

    <div class="form-group">
      <label for="gender">Gender:</label>
      <input formControlName="gender" placeholder="Gender" name="gender" class="form-control" id="gender">
    </div>

    <div class="form-group">
      <label for="address">Address:</label>
      <input  formControlName="address" placeholder="address" name="address" class="form-control" id="address">
    </div>

    <button class="btn btn-success">Update</button>
  </form>
</div>
