<div class="col-md-6 user-container">
  <h2 class="text-center">Add User</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">User Email:</label>
      <input type="text" formControlName="email" placeholder="email" name="email" class="form-control" id="email">
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" formControlName="password" placeholder="password" name="password" class="form-control" id="password">
    </div>

    <div class="form-group">
      <label for="name">Name:</label>
      <input formControlName="name" placeholder="name" name="name" class="form-control" id="name">
    </div>

    <div class="form-group">
      <label for="birthDate">Birth Date:</label>
      <input formControlName="birthDate" placeholder="birthDate" name="birthDate" class="form-control" id="birthDate">
    </div>

    <div class="form-group">
      <label for="gender">Gender:</label>
      <input formControlName="gender" placeholder="gender" name="gender" class="form-control" id="gender">
    </div>

    <div class="form-group">
      <label for="address">Address:</label>
      <input formControlName="address" placeholder="address" name="address" class="form-control" id="address">
    </div>


    <div class="form-group">
      <label for="medicalRecord">Medical Record:</label>
      <input formControlName="medicalRecord" placeholder="medicalRecord" name="medicalRecord" class="form-control" id="medicalRecord">
    </div>
    <button class="btn btn-success">Add</button>
  </form>
</div>
