
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Caregiver List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>

        <th>Name</th>
        <th>Birth Date</th>
        <th>Gender</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let caregiver of caregivers ">

        <td>{{caregiver.name}}</td>
        <td>{{caregiver.birth_date}}</td>
        <td>{{caregiver.gender}}</td>

        <td><button (click)="caregiverDetail(caregiver.id)" class="btn btn-info" style="margin-left: 10px">Details</button></td>
        <td><button class="btn btn-danger" (click)="deleteCaregiver(caregiver)"> Delete</button></td>
        <td> <button class="btn btn-success" (click)="editCaregiver(caregiver)" style="margin-left: 20px;"> Edit</button></td>
      </tr>
      </tbody>
    </table>
    <br>
    <button class="btn btn-danger" routerLink="/add-caregiver" class="nav-link" style="margin-left: 20px;"> Add Caregiver</button>
  </div>
</div>

