
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Medication List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>

        <th>Name</th>
<!--        <th>Side Effects</th>-->
<!--        <th>Dosage</th>-->
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let medication of medications ">

        <td>{{medication.name}}</td>
<!--        <td>{{medication.side_effects}}</td>-->
<!--        <td>{{medication.dosage}}</td>-->

        <td><button (click)="medicationDetail(medication.id)" class="btn btn-info" style="margin-left: 10px">Details</button></td>
        <td><button class="btn btn-danger" (click)="deleteMedication(medication)"> Delete</button></td>
        <td> <button class="btn btn-success" (click)="editMedication(medication)" style="margin-left: 20px;"> Edit</button></td>
      </tr>
      </tbody>
    </table>
    <br>
    <button class="btn btn-danger" routerLink="/add-medication" class="nav-link" style="margin-left: 20px;"> Add Medication</button>
  </div>
</div>

