<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Patients to take care of</h2>
  </div>
  <div class="panel-body">
<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Birth Date</th>
    <th>Gender</th>
    <th>Address</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let patient of patients ">
    <td>{{patient.name}}</td>
    <td>{{patient.birth_date}}</td>
    <td>{{patient.gender}}</td>
    <td>{{patient.address}}</td>
  </tr>
  </tbody>
</table>
  </div>
</div>
